.js-image{
    height:250px;
    width:200px;
}
.js-series-name{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    
}
.favorite{
    background-color:grey;
    color:white;

}
.flex-container{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
height:100%;
}
.side-left{
background-color:pink;
min-width:30vw;
height:100%;
}
.main-content{
background-color:blue;
}