
.main-container{
    background-color: white;
    height:100%;
    width:100%;
    overflow-x: hidden;
}
.main-title{
    font-family: 'Montserrat', sans-serif;
    color: #eca635;
}
.search-bar{
    background-color: white;
    display:flex;
    flex-direction:column;
    padding-bottom:50px; 
    justify-content:center;
    align-items:center;
    align-content:center;

}
.button-container{
    text-align:center;
}
.js-button{
    align-self:center;
    margin-top:20px;
    margin-bottom:10px;
    margin-left:auto;
}
.js-image{
    height:100px;
    width:80px;
    padding:5px;
}
.js-input{
    padding:10px;
    border-radius:10px;
    border-color: #319EA1;
}
.js-series-section{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    
}
.favorite{
    background-color: #8ABCB9;
    color:white;

}
.main-container{
    margin-top:40px;
    background-color:white;
}
.flex-container{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
height:100%;
}
.side-left{
background-color: #ecb293;
border:5px solid #319EA1;
min-width:30vw;
height:100%;
margin-left:20px;
}
.main-content{
background-color: white;
width:100%;
text-align:center;
font-weight: bold;
}
.side-left-text-container{
    padding-left:30px;
    padding-right:10px;
    padding-top:30px;
}
@media all and (min-width:768px){
    .js-image{
        height:250px;
        width:200px;
        padding:10px;
    }
}
.image-cross-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.show-name{
    flex-grow:3;
}
.js-delete-favorite{
    cursor:pointer;
    font-size:30px;
}
.favorites-text{
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-weight: bold;
}
.js-input{
    margin-bottom:20px;
    font-family: 'Montserrat', sans-serif;
}

.favorites-text{
    font-weight:bold;
    font-size:20px;
}
.js-button{
    background-color:#319EA1;
    border-radius:20px;
    color:white;
    font-weight:bold;
    font-size:15px;
    width:100px;
    height:30px;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
    transition: background-color ease 1s, border-color ease 1s;
}
.js-button:hover{
    background-color: #025751;
    border-color: #319EA1;
}


.js-delete-favorites-button{
    background-color: #319EA1;
    border-radius:20px;
    color:white;
    font-weight:bold;
    font-size:15px;
    margin-bottom:40px;
    max-width:112px;
    height:30px;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
    transition: background-color ease 1s, border-color ease 1s;
}
.js-delete-favorites-button:hover{
    background-color: #025751;
    border-color: #319EA1;

}

@media all and (min-width:768px){
    .js-delete-favorites-button{
        background-color: #319EA1;
        border-radius:20px;
        color:white;
        font-weight:bold;
        font-size:15px;
        width:220px;
        height:30px;
        font-family: 'Montserrat', sans-serif;
    }   
}

.js-series-container{
    padding:20px;
    font-family: 'Montserrat', sans-serif;
}
.js-series-container-favorite{
    font-family: 'Montserrat', sans-serif;
}
.error-text{
    font-family: 'Montserrat', sans-serif;
}
.js-delete-favorite{
    color:#319EA1;
    font-weight: bold;
    transition: color ease 1s,
}
.js-delete-favorite:hover{
    color:rgb(124, 6, 6);
}